.login-container{
  margin-top: 5%;
}

.login-form-1{
  padding-left: 12%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 img {
  height: auto;
  width: 20%;
  margin-top: 50px;
}
.login-form-1 h5{
  color: #2c308f;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #2c308f;
  width: 70%;
  border-radius: 0rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.form-control {
  display: block;
  width: 100%;
  }
.popUP .form-control {
  width: 100%;
  }
.popUP input{
  padding: 8px;
  font-size: 11px;
}
.popUP .form-label {
  font-size: 14px;
}
.fa {
  position: absolute;
  color: #fff;
  margin-left: 113px;
  margin-top: -2px;
}
@media screen and (max-width: 350px) {
.fa {
  margin-left: 60px;
  }
}   
.login-form-2{
  background: #2c308f;
  color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  color: #fff;
  padding-top:70px;
}
.login-container form{

}
.login-form-2 h6{
  color: #fff;
  padding-top:45px;
}
.login-form-2 p{
  padding-top: 40px;
}
.owl-theme .owl-nav {
  display: none;
}
.owl-theme .owl-dots .owl-dot {
  margin-top: 15px;
  margin-left: -10px;
}
.owl-carousel .owl-item img {
  display: initial;
  width: 90%;
}

.errormsg{
  font-size: 13px;
  color:red;
}
.input-group-text{
  background-color: #fff !important;
}
.popUp .input{
  padding:8px;
  font-size: 11px;
}

.popUP{
  position: fixed;
  top:0%;
  left:0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  box-shadow: 5px 10px 8px #888888;
  z-index: 15;
  height:100%;
  
  overflow: auto;
  }
.popUP::-webkit-scrollbar {
    display: none;
}
.popUP label.form-label {
  font-size: 12px;
}
.popup-inner.container-fluid {
  background: #fff;
  top:0;
  width: 100%;
  max-width: 500px;
  position: absolute;
  right:0;
  min-height: 100%;
}
.popup-inner.container-fluid  form{
 padding:20px;
}
.popup-inner-alert {
  background: #fff;
  top: 35%;
  width: 100%;
  max-width: 900px;
  position: absolute;
  left:25%;
}

.popUP-alert{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 5;
}
button.btn.closebtn {
  position: absolute;
  right: 0;
  top :0;
  font-size: 45px;
  color: black;
  font-weight: 100;
  z-index: 1;
}
footer {
  width: 100%;
  text-align: center;
  padding:10px;
  margin: 20px 0 0 0;
  background: #fff;
  border-top:5px solid #F8F8FB;
 
  z-index: -9999;
}
.addresbtn{
  width: 100px;
  font-size: 13px;
}
.boxform{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  
}
.boxform div{
  width: 33.3%;
  padding-right: 10px;
  
}
.boxformtwo{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.boxformtwo div{
  width:50%;
  padding-right: 10px;  
}

.boxform div:last-child{
  padding: 0;
}

.input-group.flex-nowrap.p-2 {
  width: 300px;
}

@media only screen and (max-width: 1600px)
{
  .popup-inner.container {
    width: 100%;
    max-width: 500px !important;
    top: 0;
    right: 0;

  }
  .popup-inner.container form{
    padding: 20px;
  }
  .popup-inner-alert {
    max-width:  725px; 
  }

}
@media only screen and (max-width: 1200px)
{
i.fa.fa-download.fa-rotate-270 {
  margin-left: 100px;
}
}
@media only screen and (max-width: 990px)
{
  i.fa.fa-download.fa-rotate-270 {
    margin-left: 62px;
  }
}
@media only screen and (max-width: 1350px)
{
  .popUP{
    overflow: scroll;
  }
  .popup-inner.container {
    width: 100%;
    max-width: 725px !important;
    top:20%;
    left:20%;
   
  }
}
@media only screen and (max-width: 960px)
{
  .popup-inner.container {
    top:0;
    left:0;
  }
  .popup-inner-alert {
    max-width: 525px; 
    left: 11%;
  }

}
@media only screen and (max-width: 720px)
{
  .popup-inner.container {
    width: 525px;
    top: 20%;
    left: 14%;
  }
  .popup-inner-alert {
    max-width: 525px; 
    left: 5%;
  }


}
@media only screen and (max-width: 500px)
{
  .popup-inner.container {
    width: 380px;
    top: 20%;
    left: 12%;
  }
  .popup-inner-alert {
    max-width:  380px; 
  }
}

@media only screen and (max-width: 480px)
{
  .popup-inner.container {
    width: 340px;
    top: 20%;
    left: 8%;
  }
  .popup-inner-alert {
    max-width:  340px; 
  }


}
@media screen and (max-width: 719px) and (min-width: 550px) {
  .popup-inner.container {
    width: 450px;
    top: 20%;
    left: 12%;
  }

}
.contentLogo img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 34px;

}